.container {
    min-height: 75vh;
    /* width: 100%; */
    /* display: flex; */
    
}
.imgContainer{
    position: relative;
    height: 600px;
    max-height: 600px;
}
.img{
    object-fit: cover;
    filter: brightness(50%);
}
.body {
    /* flex:1; */
    z-index: 3;
    position: absolute;
    width: 60%;
    min-width: 260px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

