.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imgContainer{
    position: relative;
    min-height: 300px;
    width: 100%;
    min-width: 200px;
    margin: auto;
}
.img{
    object-fit: cover;
}


@media (min-width: 700px){
    .lead{
        grid-column: 1 / span 2;
    }
}
@media (max-width: 700px){
    .wrapper{
        grid-template-columns: 1fr;
    }
    .imgContainer{
        height: 300px;
        width: 300px;
    }
}

